body {
    padding-top: 0;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 100px;
}
.table_header_right {
    float: right;
    margin-top: 10px;
    margin-right: 10%;
}
.table_header_left {
    margin-top: 10px;
    float: left;
}

.grid-container {
    margin-left:150px;
    margin-right:150px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}