body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
      padding-top: 0px;
      background-color: #eee;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.active {
    /*background-color: #3294af;*/
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 120px; */
    /*background-color: #f1f1f1;*/
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.btn-logout {
    color: white;
}

.btn-logout:hover {
    background: #6e6e6e;
    color: #b2b2b2;
}

header {
    /*background: #999; */
    text-align: center;
    vertical-align: auto;
   /* color: green; */
    margin-bottom: 20px;
    height: 80px;
}

.header_right {
    margin-top: 10px;
    margin-right: 10%;
    float: right;
    text-align: left;
    display: flex;
      flex-direction: column;
}
.header_left {
    margin-top: 10px;
    margin-left: 10%;
    float: left;
}
.navbar {
  height: 80px;
}
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px  */
  margin-top: 23px;
  padding: 9px 10px !important;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px  */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
.table_header_right {
    float: right;
    margin-top: 10px;
    vertical-align: middle;
}

.table_header_left {
    margin-top: 10px;
    float: left;
}
.grid-container {
    margin-left:150px;
    margin-right:150px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }

footer {
  position: absolute;
  right: 0;bottom:0;left:0;
}
.mrgt{
    margin-top:5px;
}