/*.main-div {
    width: 900px;
    background: #444145;
    margin-left: 15%;
    margin-right: 15%;
}*/

/*
.groups {
    background: #291d24;
}
*/

#thumbwrap {

}

.thumb {
    float: left; /* must be floated for same cross browser position of larger image */
    position: relative;
    margin: 3px;
}

.thumb img {
    border: 1px solid #000;
    vertical-align: bottom;
}

.thumb:hover {
    border: 0; /* IE6 needs this to show large image */
    z-index: 1;
}

.thumb span {
    position: absolute;
    visibility: hidden;
}

.thumb:hover span {
    visibility: visible;
    top: 37px;
    left: 37px;
}