body {
    padding-top: 0;
}

.balance {
    float: right;
}

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    background: #555;
    text-align: center;
    vertical-align: auto;
    color: white;
    margin-top: 0;
    height: 60px;
}

.main-div {
    width: 900px;
    background: #444145;
    margin-left: 15%;
    margin-right: 15%;
}
.groups {
    background: #291d24;
}